
/*Footerns grid*/
.container{

   display: grid;
   grid-template-columns: 1fr(repeat,3);
   grid-template-rows: auto;

}

/*Bilden i footern som ligger till höger*/
#vikt{

  grid-row: 1/2;
  grid-column: 3/4;


}

/*Linjen ska ligga över hela sidan*/
.line{

  grid-row: 1/2;
  grid-column: 1/4;

}

/*Texten ska ligga till vänster*/
h3{

  grid-row: 1/2;
  grid-column: 1/2;

}
