
/*Footerns grid*/
.container{

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
}

/*Bilden i footern som ligger till höger*/
#vikt{

  grid-row: 1/2;
  grid-column: 3/4;


}

/*Linjen ska ligga över hela sidan*/
.line{

  grid-row: 1/2;
  grid-column: 1/4;

}

/*Texten ska ligga till vänster*/
h3{

  grid-row: 1/2;
  grid-column: 1/2;

}

.container2{

  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 269px repeat(8,1fr);

}

header{

  grid-column: 1/4;
  grid-row: 1/2;
}

.topnav{

  grid-column: 1/4;
  grid-row: 1/2;

}

h1{

  grid-column: 2/3;
  grid-row: 2/3;
}

.lorem{

  grid-column: 2/3;
  grid-row: 1/2;

}

.ipsum{

 grid-column: 2/3;
 grid-row: 6/5;

}

.parallax{

  grid-column: 1/4;
  grid-row: 2/5;

}


.parallax2{

  grid-column: 1/4;
  grid-row: 5/10;

}

footer{

grid-column: 1/4;
grid-row: 9/10;

}

.line{

  grid-column: 1/4;
  grid-row: 5/6;

}

@media (max-width: 880px){
.container2{

  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 167px repeat(8,1fr);

}

}
