*{
  margin: 0;
  padding: 0;
}

body{

 background-color: rgb(20, 44, 75);/*rgb(18, 61, 119);* /*mörkblå*/

}

header{

  background-color: rgb(30, 36, 46); /*mörkgrå*/
  height: 270px;
  box-shadow: 1px 2px 60px rgb(30, 36, 46); /*mörkgrå*/ /*rgb(23, 30, 48);/*gb(134, 175, 255); /*ljusblå*/
  border-radius: 20px;
  margin-top: -30px;



}

h1{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//*rgb(255, 92, 0);/*orange*/
  text-align: center;
  font-size: 340%;
  height: 20%;
  margin-top: 5%;

}

h3{

  font-family: 'Zen Dots', cursive;
  color: rgb(255, 92, 0);
  text-align: center;
  font-size: 200%;
  margin-top: 2%;

}

h2{

  /*font-family: 'Zen Dots', cursive;
  color: rgb(255, 92, 0);*/

  text-align: center;
  font-size: 200%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/

}


footer{

 height: 20%;
 background-color: rgb(30, 36, 46); /*mörkgrå*/

}

.lorem{

  color: white;
  font-family: arial;
  text-align: left;
  font-size: 120%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;

}

.ipsum{

  color: white;
  font-family: arial;
  text-align: left;
  font-size: 120%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;

}

#links{

  list-style: none
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  list-style: none;
  display:flex;
  justify-content: space-around;
  padding-top: 5%;

}

#orange{

  background-color: rgb(30, 36, 46); /*mörkgrå*//*#8C4537;/*rgb(255, 92, 0);/*orange*/
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -1%;

}

ul a{
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  list-style: none

}

.tips{

  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 92, 0);/*orange/;/*rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  list-style: none;
  padding-top: 5%;
  padding-left: 15%;

}

a:hover{

color: white;

}

.sc {

  display: flex;
  justify-content: space-around;

}

.sc a{

  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  margin-bottom: 2%;
  margin-top: 2%;

}

.sc a:hover{

color: white;

}

.space{

 height: 10%;

}
.line{

  height: 0.4vh;
  background-color: rgb(255, 92, 0);/*orange/*rgb(87, 95, 144);/*rgb(134, 175, 255); /*ljusblå*/

}

.topnav{

  display: flex;
  justify-content: space-around;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-align: center;
  height: 2.5em;

}

.topnav a{

text-decoration: none;
color: rgb(167, 169, 170); /*ljusgrå*/
height: 100%;
margin-top: 0.9%;

}

.topnav a:hover{

 color: rgb(25, 54, 138) ;

}

.topnav a.active{

background-color: transparent;
color: white;

}

/* Cool gym website titeln*/

#cgw{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//*rgb(255, 92, 0);/*orange*/
  text-align: center;
  font-size: 360%;
  padding: 3%;
}

#aesthetic{

width: 100%;

}

#rec{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//
  text-align: center;
  font-size: 250%;
  padding-top: 10%;
  height: 20%;

}

#jk{

 text-align: center;
 font-family: 'Oswald', sans-serif;
 color: rgb(167, 169, 170); /*ljusgrå*//
 font-size: 15%;
 margin-top: -2%;


}
/* Parallax */

body, html {
  height: 100%;
}

.parallax {

  background-image: url("images/aesthetic.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {

  background-image: url("images/deadlift.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
