*{
  margin: 0;
  padding: 0;
}

body{

 background-color: rgb(20, 44, 75);/*rgb(18, 61, 119);* /*mörkblå*/

}

header{

  background-color: rgb(30, 36, 46); /*mörkgrå*/
  height: 34vh;
  box-shadow: 1px 2px 60px rgb(30, 36, 46); /*mörkgrå*/ /*rgb(23, 30, 48);/*gb(134, 175, 255); /*ljusblå*/
  border-radius: 20px;
  margin-top: -30px;

}

/*Varje sidas 'namn'*/
h1{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//*rgb(255, 92, 0);/*orange*/
  text-align: center;
  font-size: 8vh;
  height: 20%;
  margin-top: 5%;

}

/*'Links'titeln efetrsom att den sidan är stylead annorlunda
och därför behöver titeln flyttas på ett annat sätt*/
#w{

 padding-top: 5%;

}

/*Text i footern*/
h3{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  text-align: center;
  font-size: 12vh;
  padding-top: 5vh;

}

/* Musik titlarna*/
h2{

  text-align: center;
  font-size: 200%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/

}


footer{

 height: 30vh;
 background-color: rgb(30, 36, 46); /*mörkgrå*/

}

/*Tommrum*/
.space{

 height: 10vh;

}

/*Orange linje*/
.line{

  height: 0.4vh;
  background-color: rgb(255, 92, 0);/*orange*/

}

/*Första Lorem Ipsum texten*/

.lorem{

  color: white;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 120%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;

}

/*Andra lorem Ipsum texten, längre*/
.ipsum{

  color: white;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  font-size: 120%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;

}

/*övre bakgrunden i 'links'*/

#blue{

  background-color: rgb(30, 36, 46); /*mörkgrå*/
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -2.5%;

}

/*Undre bakrgunden i 'links'*/
#orange{

  background-color: rgb(30, 36, 46); /*mörkgrå*//*#8C4537;/*rgb(255, 92, 0);/*orange*/
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -1%;

}

/*Lista med länkar*/
ul a{
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  list-style: none

}

/**/

#links{

  list-style: none;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 190%;
  list-style: none;
  padding-top: 5%;
  padding-left: 14vh;

}

/*tips listan*/
.tips{

  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  list-style: none;
  padding-top: 5%;
  padding-left: 8vh;
  padding-right: 8vh;


}

/* När man hpvrar på anchors/länkar/a */
a:hover{

color: white;

}

/*Shortcutsen till de olika musiktitlarna*/
.sc {

  display: flex;
  justify-content: space-around;
  background-color: rgb(30, 36, 46); /*mörkgrå*/

}

/* Eftersom att de är länkar :C*/
.sc a{

  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*/
  font-size: 150%;
  margin-bottom: 2%;
  margin-top: 2%;

}

/*När man hovrar*/
.sc a:hover{

color: white;

}

/*Navigation bar*/
.topnav{

  display: flex;
  justify-content: space-around;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-align: center;
  height: 2.5em;

}

/* Länkar*/
.topnav a{

text-decoration: none;
color: rgb(167, 169, 170); /*ljusgrå*/
height: 100%;
margin-top: 0.9%;

}

/*När man hovrar över länkarna i navbaren*/
.topnav a:hover{

 color: rgb(25, 54, 138) ;

}

/*Sidan man är inne på för tillfället, med klassen 'active'*/

.topnav a.active{

background-color: transparent;
color: white;

}

/* Cool gym website titeln*/

#cgw{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//*rgb(255, 92, 0);/*orange*/
  text-align: center;
  font-size: 360%;
  padding: 3%;
}

/*Vikt i footern*/
#vikt{

padding-top: 3vh;
height: 25vh;

}
/*Reccommendations titeln*/
#rec{

  font-family: 'Oswald', sans-serif;
  color: rgb(167, 169, 170); /*ljusgrå*//
  text-align: center;
  font-size: 250%;
  padding-top: 10%;
  height: 20%;

}

/*Just kidding hahhaha*/
#jk{

 text-align: center;
 font-family: 'Oswald', sans-serif;
 color: rgb(167, 169, 170); /*ljusgrå*//
 font-size: 15%;
 margin-top: -2%;


}
/* Parallax */

body, html {
  height: 100%;
}

/*Första parallaxbakgrunden*/
.parallax {

  background-image: url("images/aesthetic.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Andra parallaxbakgrunden*/
.parallax2 {

  background-image: url("images/deadlift.jpeg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slideshow containern */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Nästa och tillbakaknapp */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* sätter 'nästa' knappen till höger */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* bakgrunden ändras när man hovrar */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Titlar */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* visar vilken sida användaren är på */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* punkterna */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animation*/
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* minska storleken på mindre skärmar */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Upp knappen i 'links'*/
.go-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  font-size: 40px !important;
  background-color: white;
  border: 1px white solid;

  /* Radie 100% för att bli cirkel */
  border-radius: 100%;

  color: #191919;

  transition: opacity 250ms linear;
}

.go-top:hover {
  color: #191919;
}

/*Media queries, sidan ändras på skärmar = eller < 580px*/
@media (max-width: 880px){


header{

 height: 20%;


}

/*Saker som ska försvinna*/

.blind{

  display:none;

}

/*Titeln blir mindre*/
#cgw{

  font-size: 30px;

}

.sc{

  display: none;
}

#links{

}

.lorem, .ipsum{

  font-size: 2vh;


}

}
